---
import Base from '../layout/Base.astro'
---

<Base title='About'>
    <h1>About Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam est maiores id veritatis deserunt fugiat saepe tempore consequatur ipsa, odit laborum, cumque dolor ut!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam est maiores id veritatis deserunt fugiat saepe tempore consequatur ipsa, odit laborum, cumque dolor ut!</p>
</Base>