---
import Base from '../layout/Base.astro'
---

<Base title='Hello'>
    <h1>Hello World 12345</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptates fuga suscipit alias? Deserunt minus, beatae, quibusdam inventore culpa harum voluptatem eius optio nesciunt placeat explicabo. Sint nam saepe distinctio nihil natus possimus dolores corrupti quia, repellat consequuntur assumenda odio molestias nemo deserunt totam debitis voluptates tempore perspiciatis doloremque quam!</p>
</Base>